<div class="error-page-container">
    <div class="error-page">
        <div class="error-page-icon">
            <span class="icon-error">
              <span class="path1"></span>
            <span class="path2"></span>
            </span>
        </div>
        <div class="error-page-title">Error 404</div>
        <div class="error-page-subtitle">Page Not Found</div>
        <div class="error-page-content">
            <p>The page you requested could not be found, either contact your webmaster or try again.</p>
            <p>Use <b>Return Home</b> button to navigate to homepage.</p>
        </div>
        <div class="error-return-page">
            <a href="/" class="k-button button button--primary">Return Home</a>
        </div>
    </div>
</div>